<div class="jumbotron">
  <h1><%= @song.title %></h1>
  <% if @song.audio_url.present? %>
    <div class="audio-player">
      <audio controls>
        <source src="<%= @song.audio_url %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  <% end %>
  <div class="lyrics"><%= markdown(@song.lyrics) %></div>
</div>
