/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#audio-player {
  .play-button {
    float: left;
    padding: 2rem 3rem 2rem 2rem;
    &.disabled .glyphicon {
      color: #CCC;
    }
    cursor: pointer;
  }
  .amplitude-play-pause {
    .glyphicon-pause {
      display: none;
    }
    &.amplitude-playing {
      .glyphicon-play {
        display: none;
      }
      .glyphicon-pause {
        display: block;
      }
    }
  }
}

#audio-player {
  font-size: 1.5em; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background: white;  
  #player-left-bottom {
    padding:0 2rem; 
    > * {
      padding:2rem;             
      min-height: 4rem; 
    }
    input[type="range"] {
      padding:2rem;             
      min-height: 7rem; 
      width: auto;
    }
    .play-button {
      padding:2rem;       
    }
    #control-container, #meta-container {
      display: inline-block;
    }
  }
}
