// Place all the styles related to the Releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-list-item {
  font-size: 1.5em;
  &:hover {
    background-color: #FFF;
  }
  a, span {
    color: #333;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
  .play-button {
    float: left;
    padding: 2rem 3rem 2rem 2rem;
    &.disabled .glyphicon {
      color: #CCC;
    }
    cursor: pointer;
  }
  .amplitude-play-pause {
    .glyphicon-pause {
      display: none;
    }
    &.amplitude-playing {
      .glyphicon-play {
        display: none;
      }
      .glyphicon-pause {
        display: block;
      }
    }
  }
  .song-title {
    display: inline-block;
    padding: 2rem;
  }
}