// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.audio-player {
  margin: 3em 0;
}
div.lyrics {
  margin: 3em 0;
}


.lyrics {
  .line-break {
    display: block;
  }

  .chord {
    color: blue;
    font-size: 0.7em;
    line-height: 2em;
    vertical-align: top;
  }

  &.above-the-line {
    .line-break {
      padding-top: 0.7em;
      position: relative;
    }

    .chord {
      line-height: 1.3em;
      position: absolute;
      top: 0em;
    }
  }
}

