<%# add navigation links to this file %>
<li><%= link_to 'Albums', releases_path %></li>
<li><%= link_to 'Blog', '/blog' %></li>
<li><%= link_to 'Store', 'https://reddingbrothers.bandcamp.com/' %></li>